[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "*"
levenshtein = "*"
pandas = "*"
tweepy = "*"
openpyxl = "*"
seaborn = "*"
styleframe = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
auto-run = 'python main.py && python ranking.py'