[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
tweepy = "*"
openpyxl = "*"
pygithub = "*"
firebase-admin = "*"
matplotlib-fontja = "*"
pillow = "*"
matplotlib = "*"
aiohttp = "*"
numba = "*"
scipy = "*"
budoux = "*"
tabulate = "*"
google-generativeai = "*"
selenium = "*"
instaloader = "*"

[dev-packages]
autopep8 = "*"
coverage = "*"

[requires]
python_version = "3"

[scripts]
post-processing = "bash -c 'python post_processing.py'"
upload-log = "python -c 'import firebase_storage_upload;firebase_storage_upload.upload_log()'"
visualize = "bash -c 'python graph.py'"
